.bg_rectangle 
{
	position: absolute;
	width: 2500px;
	height: 1300px;
	
	background: #D9D9D9;
	mix-blend-mode: normal;
}

.fg_rectangle 
{
	position: absolute;
	top: 48px;
	width: 2500px;
	height: 1260px;
	
	background: #FFFFFF;
	mix-blend-mode: normal;
}

.mpt_left_top_icon 
{
	position: absolute;
	top: 7px;
	width: 43px;
	height: 43px;

	background-size: 43px;
	background-image: url(../img/mpt_icon.png);
}

.default_text_style
{
	position: absolute;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	
	color: #000000;
}

.default_text_style.top_mpt_header
{
	top: 50px;
	width: 2500px;
	height: 40px;

	font-size: 14px;
	line-height: 17px;
	letter-spacing: 1.3em;
}

.mpt_preview
{
	position: absolute;
	top: 97px;
	width: 2500px;
	height: 771px;
	
	background-repeat: no-repeat;
	background-size: 2500px 771px;
	background-image: url(../img/mpt_preview.jpg);
}

.map_view
{
	position: absolute;
	width: 299px;
	height: 239px;
	
	top: 915px;
	left: 1650px;
}

.default_text_style.find_us_text
{
	top: 869px;
	left: 1925px;
}

.default_text_style.top_button
{
	width: 351px;
	height: 40px;
	
	font-size: 15px;
	letter-spacing: 0.25em;

	color: #000000;
	background-color: #D9D9D9;
	border: none
}

.top_button:hover
{
	background-color: #C0C0C0;
}

.top_button.main
{
	width: 43px;
	height: 40px;

	background-size: 43px;
	background-position: -1px -1px;
	background-image: url(../img/mpt_icon.png);
}

.top_button.knowledge
{
	left: 50px;
}

.top_button.student
{
	left: 401px;
}

.top_button.applicant
{
	left: 751px;
}

.top_button.additional_education
{
	left: 1101px;
}

.top_button.contacts
{
	left: 1451px;
}

.top_button.e_educational
{
	left: 1801px;
}

.top_button.covid
{
	left: 2151px;
}

.contacts_text
{	
	position: absolute;
	top: 868px;
}

li
{
	width: 100%;
	padding: 3px;
}

.contacts_list
{	
	position: absolute;
	top: 888px;
	margin-top: 20px;
}

.admission_committee_text
{
	position: absolute;
	top: 868px;
	left: 300px;
}

.admission_committee_list
{	
	position: absolute;
	top: 888px;
	left: 300px;
	text-align: left;
	margin-top: 20px;
}

.address_text
{
	position: absolute;
	top: 868px;
	left: 600px;
}

.address_list
{	
	position: absolute;
	top: 888px;
	left: 600px;
	text-align: left;
	margin-top: 20px;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}